<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>検索結果 | TsukuAlert</title>
        <link rel="stylesheet" href="confirm-style.css">
    </head>

    <body>
        <header>
            <img src="icon.png">
            <h2 class="title">Tsuku-Alert</h2>
            <nav>
                <ul>
                    <li><a href="#">ログアウト</a></li>
                </ul>
            </nav>
        </header>
        
        <center>
            <div class="triangle">
            </div>
            <p class="page-title">検索結果</p>
        </center>
        <div class="square">
        <center><p class="add-text">授業が追加されました！</p></center>
        <center><p class="normal-text">科目名：ABC概論</p></center>
        <center><p class="normal-text">曜日時限：月56</p></center>
        <center><p class="normal-text">教室名：7Axxx</p></center>
        <center><button class="for-button" type="button">履修状況一覧へ戻る</button></center>
        </div>
    </body>
</html>