<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>落単回避アプリ</title>
	<link rel="stylesheet" href="situation-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">落単回避！</h2>
    </header>

    <center><h1>アラーム設定</h1></center>
    <h2>デフォルト設定</h2>
    時刻設定：
    <select name="time-set">
        <option>10分前</option>
        <option>30分前</option>
        <option>60分前</option>
    </select>
    <br>
    サウンド：
    <select name="sound-set">
        <option>サウンド１</option>
        <option>サウンド２</option>
        <option>サウンド３</option>
    </select>
    <br>
    <h2>個別のアラーム設定は<a href="">→履修状況登録</a></h2>
</body>
</html>

