<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>出欠席確認 | Tsuku-Alert</title>
	<link rel="stylesheet" href="attend-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">Tsuku-Alert</h2>
        <nav>
            <ul>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <div class="square">
    <center><p class="done">出席しました！</p></center>
    <div class="batsu"><a href="#">✕</a></div>
    <center>
        <p class="class-name">科目名：ABC概論</p>
        <p class="class-name">〇月✕日</p>
        <p class="class-name">出席回数：2回</p>
        <button class="for-button" type="button">出席を取り消す</button>
    </center>
</body>
</html>
