<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>落単回避アプリ</title>
        <link rel="stylesheet" href="prevstyle1.css">
    </head>

    <body>
        <header>
            <img src="icon.png">
            <h2 class="title">落単回避！</h2>
            <ul>
                <li><a href="#">アカウント名</a></li>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </header>
        
        ABC概論<button type="button"><a href="">✕</a></button><br>
        科目番号:GExxxxx<br>
        時限:春AB<br>
        月56<br>
        教室名:7Axxx<br>
        出席回数
        <button type="button">－</button>1<button type="button">+</button><br>
        アラーム通知
        <select name="sound">
            <option>10分前</option>
            <option>30分前</option>
            <option>60分前</option>
        </select>
        前に通知

    </body>
</html>
