<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>落単回避アプリ</title>
    <link rel="stylesheet" href="/static/situation-style.css">
</head>

<body>
    <div class="container">
        <h1>履修状況登録</h1>
        <form action="#" method="post" class="search-form">
            <label for="keyword">科目番号、科目名などで検索:</label>
            <input type="text" id="keyword" name="keyword" size="15">
            <input type="hidden" name="bid" value="%{BID}">
            <input type="submit" name="ACMS_POST_2GET" value="検索">
        </form>

        <div class="button-container">
            <button type="button">春A</button>
            <button type="button">春B</button>
            <button type="button">春C</button>
            <button type="button">秋A</button>
            <button type="button">秋B</button>
            <button type="button">秋C</button>
        </div>

        <table class="data-table">
            <thead>
                <tr>
                    <th>科目番号</th>
                    <th>曜日時限</th>
                    <th>科目名</th>
                    <th>教室名</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GExxxxx</td>
                    <td>月56</td>
                    <td>ABC概論</td>
                    <td>7Axxx</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
