<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>マイページ・各種設定 | Tsuku-Alert</title>
	<link rel="stylesheet" href="set-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">Tsuku-Alert</h2>
        <nav>
            <ul>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <center>
        <div class="triangle">
        </div>
        <p class="page-title">マイページ・各種設定</p>
    </center>
    
    <p class="set-menu">パスワード変更</p>
        <p class="normal">現在のパスワード：</p>
        <form class="forms" action="" method="post">
            <input type="password" name="oldpass">
        </form><br>
        <p class="normal2">新しいパスワード：</p>
        <form class="forms2" action="" method="post">
            <input type="password" name="newpass">
        </form>
        <button class="for-button" type="button">変更</button><br>
    <p class="forget"><a href="">パスワードを忘れた場合</a></p>
</body>
</html>