<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>落単回避アプリ</title>
	<link rel="stylesheet" href="situation-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">落単回避！</h2>
    </header>

    <center><h1>マイページ・各種設定</h1></center>
    <p>ユーザ名：(アカウント名)</p>
    <p>変更後:
        <form action="" method="post">
            <input type="text" name="username">
        </form>
        <button type="button">変更</button>
    </p>
    <p>パスワード変更</p>
        現在のパスワード：
        <form action="" method="post">
            <input type="password" name="oldpass">
        </form><br>
        新しいパスワード：
        <form action="" method="post">
            <input type="password" name="newpass">
        </form>
        <button type="button">変更</button><br>
    <p><a href="">パスワードを忘れた場合</a></p>
    画面表示：
        <select name="darkmode">
            <option>ダークモード</option>
            <option>ライトモード</option>
        </select>
</body>
</html>