<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>パスワード再設定 | Tsuku-Alert</title>
	<link rel="stylesheet" href="create-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">Tsuku-Alert</h2>
    </header>

    <center><p class="page-title">パスワード再設定</p></center>
    <div class="square">
    <center>
        <p class="pass-forget">新しいパスワードを設定してください。</p>
    </center>
        <p class="form-name">新しいパスワード</p>
    <center>
        <form class="form-move" action="" method="post">
            <input type="password" name="repass">
        </form>
        <button class="for-button" type="button">変更する</button>
    </center>
    </div>
</body>
</html>