<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>落単回避アプリ</title>
	<link rel="stylesheet" href="situation-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">落単回避！</h2>
    </header>

    <center><h1>パスワード再設定</h1></center>
    <center>
        新しいパスワードを設定してください。<br>
        新しいパスワード：
        <form action="" method="post">
            <input type="password" name="repass">
        </form>
        <button type="button">変更する</button>
    </center>
</body>
</html>