<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>落単回避アプリ</title>
	<link rel="stylesheet" href="situation-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">落単回避！</h2>
    </header>

    <center><h1>パスワード再設定</h1></center>
    <center>
        パスワード再設定のためメールを送信します。<br>
        登録したメールアドレスを入力してください
        メールアドレス
        <form action="" method="post">
            <input type="text" name="mail">
        </form>
        <button type="button">送信する</button>
    </center>
</body>
</html>