<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>落単回避アプリ</title>
	<link rel="stylesheet" href="create-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<p class="title">Tsuku-Alart</p>
    </header>

    <center><p class="page-title">アカウント作成</p></center>
    <div class="square">
    <p class="form-name">メールアドレス</p>
    <center>
    <form class="form-move" action="#" method="post">
        <input type="text" name="name">
    </form>
    </center>
    <p class="form-name">パスワード</p>
    <center>
    <form class="form-move" action="#" method="post">
        <input type="text" name="name">
    </form>
    </center>

    <center><button class="for-button" onclick="location.href"="#">作成する</button></center>

    </div>

    <center><li class="menu-item"><a href="#">アカウントをお持ちの方はこちら</a></li></center>



</body>
</html>