<!DOCTYPE html>
<html lang="ja">
    <head>
	    <meta charset="UTF-8">
	    <title>落単回避アプリ</title>
	    <link rel="stylesheet" href="create-style.css">
    </head>
    <body>
        <header>
            <img src="icon.png">
		    <h2 class="title">落単回避！</h2>
            <ul>
                <li><a href="#">ログイン</a></li>
                <li><a href="#"><button type="button">アカウント作成</button></a></li>
            </ul>
        </header>

        <h1>TsukuAlart</h1>
        <p>Webアプリについての説明。アラーム鳴らしたりなど。</p>
        <button onclick="location.href"="#">今すぐ始める</button>
    </body>
</html>
