<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Tsuku-Alert</title>
	<link rel="stylesheet" href="create-style.css">
</head>

<body>
    <header>
        <img src="icon.png">
		<h2 class="title">Tsuku-Alert</h2>
    </header>

    <center><p class="page-title">ログイン</p></center>
    <p class="form-name">メールアドレス</p>
    <form action="#" method="post">
        <input type="text" name="mail">
    </form>
    <p class="form-name">パスワード</p>
    <form action="#" method="post">
        <input type="text" name="pass">
    </form>

    <center></center><button onclick="location.href"="#">ログイン</button></center>

</body>
</html>