<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>落単回避アプリ</title>
        <link rel="stylesheet" href="/static/create-style.css">
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1 class="title">落単回避！</h1>
            </div>
        </header>
        <div class="container">
            <h1>TsukuAlert</h1>
            <p>筑波大生に向けた授業アラームシステム</p>
            <p>TsukuAlertを活用して落単を回避しよう！</p>

            <div class="button-container">
                <button onclick="location.href='/user/main/registration'" class="large-button">履修登録確認</button>
                <button onclick="location.href='/user/main/attendence'" class="large-button">出欠席確認</button>
                <button onclick="location.href='/user/main/alarm_settings'" class="large-button">アラーム設定</button>
                <button onclick="location.href='/user/main/others-settings'" class="large-button">その他の設定</button>
            </div>
        </div>

        <footer>
            <h2>Links</h2>
            <p>twins<a href="https://twins.tsukuba.ac.jp/campusweb/campusportal.do">https://twins.tsukuba.ac.jp/campusweb/campusportal.do</a></p>
            <p>manaba<a href="https://www.ecloud.tsukuba.ac.jp/manaba">https://www.ecloud.tsukuba.ac.jp/manaba</a></p>
            <p>kdbっぽいなにか<a href="https://make-it-tsukuba.github.io/alternative-tsukuba-kdb/">https://make-it-tsukuba.github.io/alternative-tsukuba-kdb/</a></p>
        </footer>

        <!-- ユーザーのメールアドレスを表示 -->
        <div class="user-info">
            <p>現在ログイン中のユーザー: {{ user_email }}</p>
        </div>
    </body>
</html>
