<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>落単回避アプリ</title>
    <link rel="stylesheet" href="/static/create-style.css">
</head>
<body>
    <header>
        <img src="/static/icon.png" alt="icon">
        <h2 class="title">落単回避！</h2>
        <ul>
            <li><a href="/user/login">ログイン</a></li>
            <li><a href="/user/signup"><button type="button">アカウント作成</button></a></li>
        </ul>
    </header>
    <h1>TsukuAlart</h1>
    <p>Webアプリについての説明。アラーム鳴らしたりなど。</p>
    <button onclick="location.href='/user/signup'">今すぐ始める</button>
</body>
</html>
