<!DOCTYPE html>
<html lang="ja">
    <head>
	    <meta charset="UTF-8">
	    <title>落単回避アプリ</title>
	    <link rel="stylesheet" href="create-style.css">
    </head>

    <body>
        <header>
            <img src="icon.png">
		    <h2 class="title">落単回避！</h2>
        </header>

        <center><h1>タイトル</h1></center>
        <center>説明とかを書く場所！いろいろ書く！</center>

        <table>
            <tr>
                <td><button type="button">履修登録確認</button></td>
                <td><button type="button">出欠席確認</button</td>>
            </tr>
            <tr>
                <td><button type="button">アラーム設定</button></td>
                <td><button type="button">その他の設定</button</td>>
            </tr>
        </table>

        <footer>
            <h2>Links</h2>
            <p>twins<a href="https://twins.tsukuba.ac.jp/campusweb/campusportal.do">https://twins.tsukuba.ac.jp/campusweb/campusportal.do</a></p>
            <p>manaba<a href="https://www.ecloud.tsukuba.ac.jp/manaba">https://www.ecloud.tsukuba.ac.jp/manaba</a></p>
            <p>kdbっぽいなにか<a href="https://make-it-tsukuba.github.io/alternative-tsukuba-kdb/">https://make-it-tsukuba.github.io/alternative-tsukuba-kdb/</a></p>
        </footer>
    </body>
</html>