<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>落単回避アプリ</title>
        <link rel="stylesheet" href="prevstyle1.css">
    </head>

    <body>
        <header>
            <img src="icon.png">
            <h2 class="title">落単回避！</h2>
        </header>
        
        <center><h1>検索結果</h1></center>
        <center>この授業を追加しますか？</center>
        <center>科目名：ABC概論</center>
        <center>曜日時限：月56</center>
        <center>教室名：7Axxx</center>
        <center><button type="button">追加する</button></center>
    </body>
</html>