<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>落単回避アプリ</title>
        <link rel="stylesheet" href="prevstyle1.css">
    </head>

    <body>
        <header>
            <img src="icon.png">
            <h2 class="title">落単回避！</h2>
        </header>
        
        <center><h1>検索結果</h1></center>
        <center>この授業を追加しますか？</center>
        <center>科目名：{{ class_info.class_name }}</center>
        <center>曜日時限：{{ class_info.class_time }}</center>
        <center>教室名： {{ class_info.class_location }}</center>
        <from method="post" action="/user/main/register_class/confirm?class_id={{ class_id }}">
            <p><center><button type="submit">追加する</button></center></p>
        </from>
    </body>
</html>