header{
    display:flex;
    width:100%;
    height:60px;
    background: color #daeae5;
    align-items:center;
    }

    body{
        margin:0;
    }

    ul{
        list-style:none;
        margin:0;
        display:flex;
    }

    li{
        margin:0 0 0 15px;
        font-size:14px;
    }

    a{
        font-weight:bold;
        text-decoration:none;
    }

    a:link{
        color: #000;
    }

    a:hover{
        color:#ff8052;
    }

    .title{
        margin-right:auto;
        padding-left:6px;
        font-size:25px;
        font-weight:bold;
        color:#165B6A;
    }     

    .triangle {
        position:relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 350px solid transparent;
        border-left: 350px solid transparent;
        border-top: 150px solid #e5e5e5;
        border-bottom: 0;
      }

    .page-title{
        color:#165B6A;
        position:relative;
        bottom: 160px;
        font-size: 60px;
    }

    .set-menu{
        color:#165B6A;
        position:relative;
        bottom : 180px;
        left:100px;
        font-weight:bold;
        font-size : 25px;
    }

    .normal{
        position:relative;
        bottom : 180px;
        left:150px;
        font-size:20px;
        font-weight:bold;
    }

    .normal2{
        position:relative;
        bottom : 250px;
        left:150px;
        font-size:20px;
        font-weight:bold;
    }

    .selectbox-3 {
        display: inline-flex;
        align-items: center;
        position: relative;
        bottom:245px;
        left:275px;
    }

    .selectbox-3::after {
        position: absolute;
        right: 15px;
        width: 10px;
        height: 7px;
        background-color: #535353;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        content: '';
        pointer-events: none;
    }

.selectbox-3 select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.links{
    position:relative;
    bottom:270px;
    left:150px;
}
.notice{
    position:relative;
    bottom:420px;
    left:530px;
    font-size:20px;
}

.forms{
    position:relative;
    bottom: 225px;
    left:340px;
}

.forms2{
    position:relative;
    bottom: 295px;
    left:340px;
}

.for-button{
    position: relative;
    bottom: 325px;
    left: 530px;
    padding: 5px 10px;
    background: #ff8052;
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    border-radius: 10px;
    border:none;
}

.forget{
    position:relative;
    bottom:330px;
    left:150px;
}
