header{
    display:flex;
    width:100%;
    height:60px;
    background: color #daeae5;
    align-items:center;
    }

    body{
        margin:0;
    }

    ul{
        list-style:none;
        margin:0;
        display:flex;
    }

    li{
        margin:0 0 0 15px;
        font-size:14px;
    }

    a{
        font-weight:bold;
        text-decoration:none;
    }

    a:link{
        color: #000;
    }

    a:hover{
        color:#ff8052;
    }

    .title{
        margin-right:auto;
        padding-left:6px;
        font-size:25px;
        font-weight:bold;
        color:#165B6A;
    }     

    .triangle {
        position:relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 350px solid transparent;
        border-left: 350px solid transparent;
        border-top: 150px solid #e5e5e5;
        border-bottom: 0;
      }

    .page-title{
        color:#165B6A;
        position:relative;
        bottom: 160px;
        font-size: 60px;
    }

    .for-button{
        position: relative;
        padding: 5px 10px;
        background: #ff8052;
        color:#ffffff;
        font-size:18px;
        border-radius: 10px;
        border:none;
    }

    .table-btn{
        position:relative;
        bottom:175px;
        border-collapse: collapse;
        width: 50%;
        max-width:700px;
    }

    .table-design{
        position:relative;
        bottom:150px;
        border-collapse:collapse;
        height:100%;
        width:100%;
        max-width:700px;
        background-color: #e5e5e5;
    }

    .table-design th, .table-design td{
        border-bottom: 10px solid #6c6c6c;
        padding:1em;
    }

    .table-design th{
        border-bottom: 2px solid #a09f9f;
        text-align: center;
        width: 20%;
        min-width: 4em;
    }

    .table-design tr{
        height:10px;
    }

    .color{
        color:#1b5461;
    }

    .search-form{
        width: 500px;
        height: 30px;
        position:relative;
        bottom: 200px;
    }

    .search-btn{
        position:relative;
        bottom:200px;
        width:50px;
        height:30px; 
    }

    
    .for-add{
        position: relative;
        padding: 5px 10px;
        background: #ff8052;
        color:#ffffff;
        font-size:16px;
        font-weight: bold;
        border-radius: 10px;
        border:none;
    }